* {
    margin: 0;
    padding: 0;
}

:root {
    --main-color: goldenrod;
    --comp-color: red;
    --player-color: royalblue;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;

    /*padding: 1rem;!*это свойство можно удалить, добавлено для наглядности*!*/
    /*background: #e6f2ff;!*это свойство можно удалить, добавлено для наглядности*!*/
}

footer {
    flex: 0 0 auto;

    /*padding: 5px; !*это свойство можно удалить, добавлено для наглядности*!*/
    background: red;/*это свойство можно удалить, добавлено для наглядности*/
}

@keyframes bump {
    0% {
        transform: scale(1.5, 1.5);
        width: 100px;
        opacity: 1;
        border: solid 2px var(--border-color);
        box-shadow: inset 0 0 0 5px var(--border-color, green);
        margin: 5px;
    }
    25% {
        transform: scale(1, 1);
        width: 100px;
        opacity: 0.5;
        border: solid 2px var(--border-color);
        box-shadow: inset 0 0 0 1px var(--border-color);
        margin: 5px;
    }
    50% {
        transform: scale(0.5, 0.5);
        width: 100px;
        border: solid 2px var(--border-color);
        box-shadow: none;
        opacity: 0;
        margin: 5px;
    }
    100% {
        width: 0;
        opacity: 0;
        border: 0;
        margin: 0;
        /*opacity: 0;*/
    }
}

.field {
    /*margin-top: 20px;*/
    display: flex;
    /*flex-wrap: wrap;*/
}

.box {

    max-width: 450px;
    max-height: 450px;
    width: 100%;
    min-width: 350px;
    /*background-color: lightgreen;*/
    /*height: 100vw;*/

    /*display: inline-block;*/
}

.digits {
    /*display: inline-block;*/
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    min-width: 350px;
    /*background-color: green;*/
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 5px 0;

    padding: 0;
}

@media (max-width: 700px) and (min-width: 450px) {
    .field {
        flex-wrap: wrap;
        /*width: 100%;*/
    }

    hr {
        width: 100%;
    }

    .install {
        /*height: 11vh;*/
        display: none;
    }
}

.install {
    /*margin-top: 20px;*/
    background-color: lightgrey;
    text-align: center;
    font: bold 24px/100px Tahoma, sans;
    height: 100px;
    /*max-height: 100px;*/
    width: 100%;
    /*color: #ffffff;*/
    cursor: pointer;
    border: 0;
}

.hidden {
    display: none;
}

img {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
}

.cell {
    display: inline-block;
    width: 100px;
    /*width: calc((100vw - 42px) / 3);*/
    /*height: calc((100vw - 42px) / 3);*/
    /*padding-top: 100%;*/
    max-height: 100px;
    border: solid 2px gray;
    margin: 5px;
    text-align: center;
    font: bold 24px/100px Tahoma, sans;
    border-radius: 10px;
    background-color: #F0F8FF;
    touch-action: none;
    user-select: none;
}

.digit {
    /*display: inline-block;*/
    width: 100px;
    max-width: 100px;
    /*flex: 1;*/
    /*width: calc((100vw - 42px) / 3);*/
    /*height: calc((100vw - 42px) / 3);*/
    max-height: 100px;
    border: solid 2px gray;
    margin: 5px;
    text-align: center;
    font: bold 24px/100px Tahoma, sans;
    border-radius: 10px;
    background-color: #F0F8FF;
    touch-action: none;
    user-select: none;
    cursor: grab;
    /*transition: all 500ms linear;*/
    /*transition: width 300ms ease-in-out;*/
}

.player {
    --border-color: var(--player-color);
}

.comp {
    --border-color: var(--comp-color);
}

.cell.disabled {
    cursor: not-allowed;
    border: solid 2px var(--border-color);
}

.digit.disabled {
    overflow: hidden;
    animation-name: bump;
    animation-duration: 1.2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    /*opacity: 0;*/

    /*display: none;*/
}

@media (max-width: 450px) {
    .field {
        flex-wrap: wrap;
        /*width: 100%;*/
    }

    hr {
        width: 100%;
    }

    .digits {
        /*background: #e6f2ff;*/
        width: 55vh;
        min-width: 45vh;
    }

    .box {
        width: 55vh;
        min-width: 45vh;
    }

    .cell {
        width: 15vh;
        margin: 0.5vh;
        max-width: 100px;
        height: 15vh;
    }

    .digit {
        width: 15vh;
        max-width: 100px;
        height: 15vh;
        margin: 0.5vh;
    }

    .install {
        /*height: 11vh;*/
        display: none;
    }
}

.hole {
    color: transparent;
    cursor: default;
}

.cell.last {
    box-shadow: inset 0 0 0 5px var(--border-color);
}

.active {
    background-color: royalblue;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay.show {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 80%;
    position: relative;
    transition: all 5s ease-in-out;
}

.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.popup .close:hover {
    color: royalblue;
}

.popup .content {
    max-height: 30%;
    overflow: auto;
}
