* {
    margin: 0;
    padding: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --main-color: #F0F8FF;
    --comp-color: red;
    --player-color: royalblue;
    --digit-color: black;
    --field-size: 3;
    --gap-size: clamp(1px, calc(100vw * 5 / 456 / 2), 5px);
    --border-size: clamp(2px, calc(var(--gap-size) / 2), 3px);
    --border-color: gray;
    --cell-size: 100px;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

body::backdrop {
    background-color: white;
}

.content {
    flex: 1 0 auto;
}

footer {
    flex: 0 0 auto;
}

@keyframes bump {
    0% {
        transform: scale(1.5, 1.5);
        opacity: 1;
        box-shadow: inset 0 0 0 5px var(--border-color, green);
    }

    25% {
        transform: scale(1, 1);
        opacity: 0.5;
        box-shadow: inset 0 0 0 1px var(--border-color);
    }

    100% {
        transform: scale(0.2, 0.2);
        box-shadow: none;
        opacity: 0;
    }
}

.field {
    display: flex;
    justify-content: space-between;
}

.box {
    display: grid;
    grid-template-columns: repeat(var(--field-size), var(--cell-size));
    grid-template-rows: repeat(var(--field-size), var(--cell-size));
    gap: var(--gap-size);
    padding: 10px;
}

.qrcode.big {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(var(--field-size) * 100px + 50px);
}

.digits {
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-size);
    min-width: 350px;
}

.qrcode {
    width: 300px;
    display: inline-block;
}

.install {
    background-color: var(--main-color);
    text-align: center;
    font: bold 24px/100px Tahoma, sans-serif;
    height: 100px;
    width: 100%;
    cursor: pointer;
    border: 0;
    padding: 0;
}

.hidden {
    display: none;
}

img {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
}

.cell, .digit {
    display: grid;
    color: var(--digit-color);
    width: var(--cell-size);
    height: var(--cell-size);
    border: solid var(--border-size) var(--border-color);
    place-items: center;
    font: bold 24px/100px Tahoma, sans-serif;
    border-radius: 10px;
    background-color: var(--main-color);
    touch-action: none;
    user-select: none;
}

.digit {
    cursor: grab;
}

.player {
    --border-color: var(--player-color);
}

.comp {
    --border-color: var(--comp-color);
}

.best {
    color: green;

    --border-color: green;
}

.cell.disabled {
    cursor: not-allowed;
}

.digit.disabled {
    overflow: hidden;
    animation-name: bump;
    animation-duration: 600ms;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@media (max-width: 650px) {
    .field {
        flex-direction: column;
        justify-content: start;
    }

    .digits {
        padding: 10px;
        border-top: solid var(--border-size) var(--border-color);
    }

    .hidden2 {
        display: none;
    }
}

.hole {
    color: transparent;
    cursor: default;
}

.cell.last {
    box-shadow: inset 0 0 0 5px var(--border-color);
}

.active.player {
    background-color: var(--player-color);
}

.active.comp {
    background-color: var(--comp-color);
}

.overlay {
    position: fixed;
    inset: 0;
    background: rgb(0 0 0 / 70%);
    transition: opacity 700ms;
    visibility: hidden;
    opacity: 0;
    display: grid;
    place-items: center;
}

.overlay.show {
    visibility: visible;
    opacity: 1;
}

.popup {
    display: inline-block;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 300px;
    position: relative;
    transition: all 5s ease-in-out;
}

.popup h2 {
    margin-top: 0;
    text-align: center;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
    position: absolute;
    top: 3px;
    right: 10px;
    transition: all 400ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.popup .close:hover {
    color: var(--player-color);
}

.popup .content {
    padding: 10px;
    text-align: center;
}

.card-1 {
    view-transition-name: card-1;
}

.card-2 {
    view-transition-name: card-2;
}

.card-3 {
    view-transition-name: card-3;
}

.card-4 {
    view-transition-name: card-4;
}

.card-5 {
    view-transition-name: card-5;
}

.card-6 {
    view-transition-name: card-6;
}

.card-7 {
    view-transition-name: card-7;
}

.card-8 {
    view-transition-name: card-8;
}

.card-9 {
    view-transition-name: card-9;
}
